html, body{
    width: 100%;
    height: 100%;
}
body{
    overflow-y: hidden;
    font-family: 'Space Mono', monospace;
}
.valign-wrapper{
    height: 100%;
}
.valign{
    width: 100%;
}